<!--
<div class="col-12">
    <table class="table table-condensed table-responsive bilan" id="bilan">
        <tr>
            <th>
                Bilan
            </th>
            <td>
                <table>
                    <tr>
                        <td>
                            La Guyane dispose d’un territoire plus important que le Costa Rica. 
                            Ses 95% de foret qui la recouvre sont mise à mal par l’augmentation de l’orpaillage illégale, 
                            qui détruit le couvert végétal, participe à la diminution des espèces animal 
                            et crée un climat d’insécurité. La chasse est aujourd’hui non réglementer 
                            ce qui favorise la rareté des espèces animales dont le territoire a besoin pour le développement 
                            de l’écotourisme. 
                        </td>
                        <td>
                            Dans une volonté de développement durable du territoire, le Costa Rica à interdit la chasse 
                            et l’orpaillage et sévèrement punie par la loi. 
                            De plus les espaces protégées sont gardés. Toutefois, une sur fréquentation des espaces 
                            n’est pas rare ce qui crée des désagréments important pour la faune locale. 
                            ( les animaux vols les touristes, modification du comportements) 
                        </td>
                </table>
            </td>
        </tr>
    </table>
</div>
-->
<!-- Infography -->
<div class="col-12">
    <figure class="bilan--infography">
        <img class="img-fluid" src="./assets/images/bilan_environnement.jpg" alt="Bilan Environnement">
    </figure>
</div>