<div class="bilan--intro--container">
    <article class="col-12 col-md-8">
        <p class="">
            Conclusion : <br>
            Le Costa Rica est aujourd’hui la preuve que la protection de l’environnement est compatible
            avec le développement du tourisme.
            La Guyane dispose de richesse naturelle d’exception très peut mis en valeurs.
            Le tourisme peut pour elle être facteur de développement durable du territoire dans la mesure au des moyens humains et matérielles son développer pour réglées ou limiter les problématiques auquel elle fait face. 
        </p>
    </article>

    <figure class="col-md-4 col-12">
            <img class="img-fluid" src="./assets/images/costa-rica.jpg" title="Costa Rica">
    </figure>
</div>