<section id="charts" class="col-12" dock data-rel="content" data-target="charts">
    <div class="row">
        <div class="col-12 col-md-6"></div>
        <div class="col-12 col-md-6">
            <div class="stylechart">
                <h3>Evolution des chantiers d'orpaillage illégale</h3>
                <canvas id="chantiers-orpaillage-illegal"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="stylechart">
                <h3>Mise en perspective</h3>
                <canvas id="radar-chart"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-6"></div>
    </div>
</section>