<div class="intro--question col-12">
    <blockquote class="blockquote">
        L'écotourisme en Guyane Française peut-il être facteur de développement durable comme il peut l'être
        aujourd'hui au Costa Rica ?
    </blockquote>
</div>

<div class="intro--container col-12">
    <article class="row">
        <figure class="col-md-4 col-12">
            <img class="img-fluid" src="./assets/images/guyana-river.png" title="Guyane Française">
        </figure>

        <p class="col-12 col-md-8">
            L'utilisation d'une activité touristique comme facteur de développement durable pour le département de la
            Guyane est une réelle opportunité. Sa comparaison avec le Costa Rica, qui est un territoire particulièrement
            connu pour la promotion de l'écotourisme doit permettre d'identifier les axes d'améliorations ainsi que les
            opportunités de développement.
        </p>
    </article>
</div>