<div class="intro--question">
    <blockquote>
        L'écotourisme en Guyane Française peut-il être facteur de développement durable comme il peut l'être
        aujourd'hui au Costa Rica ?
    </blockquote>
</div>

<div class="intro--intro container">
    <article>
        <figure>
        </figure>

        <p>
            L'utilisation d'une activité touristique comme facteur de développement durable pour le département de la
            Guyane est une réelle opportunité. Sa comparaison avec le Costa Rica, qui est un territoire particulièrement
            connu pour la promotion de l'écotourisme doit permettre d'identifier les axes d'améliorations ainsi que les
            opportunités de développement.
        </p>
    </article>
</div>