<div class="col-12" id="leaflet--toolbar">
    <div class="btn-group" role="group">
        <button id="layoutLoader" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Comparaison
        </button>
        <div class="dropdown-menu" aria-labelledby="layoutLoader">
            <a class="dropdown-item" data-title="Espaces Protégés" data-switch="espace-protege-" href="#.">Espaces protégés</a>
            <a class="dropdown-item" data-title="Contours" data-rel="contour_dep-" href="#.">Contours</a>
            <a class="dropdown-item" data-title="Limites administratives" data-rel="limite_admin-" href="#.">Limites administratives</a>
        </div>
    </div>
    <span class="title">Contours</span>                    
</div>