<div class="col-12" id="leaflet--toolbar">
    <div class="btn-group" role="group">
        <button id="layoutLoader" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Voir...
        </button>
        <div class="dropdown-menu" aria-labelledby="layoutLoader">
            <a class="dropdown-item" data-title="Espaces Protégés" data-rel="espace_naturel-" href="#.">Espaces protégés</a>
            <a class="dropdown-item" data-title="Routes" data-rel="route-" href="#.">Routes</a>
            <a class="dropdown-item" data-title="Musées" data-rel="musee-" href="#.">Musées</a>
        </div>
    </div>               
</div>