<div class="col-12">
    <div class="row">
        <div class="col-3">
            <img id="logo" src="img/logoisthia-1.jpg" alt="Logo Isthia" class="img-fluid">
        </div>

        <div class="col-3">
            <h4>Adresse</h4>
            <address>
                <p>UT2J - ISTHIA</p>
                <p>Campus de Foix</p>
                <p>4 rue Raoul Lafagette</p>
                <p>09000 Foix</p>
            </address>
        </div>

        <div class="col-3">
            <h4>Contacts</h4>
            <p>Email : <a href="mailto:laura.jannot@gmail.com">laura.jannot@gmail.com</a></p>
            <p>Téléphone : <a href="tel:(33)677402434">06.77.40.24.34</a></p>
        </div>

        <div class="col-3">
            <h4>Liens</h4>
            <nav>
                <ul class="list-unstyled">
                    <li><a href="http://www.histia.fr" target="_new" title="ISTHIA">ISTHIA</a></li>
                    <li><a href="https://guyane-amazonie.fr" target="_new" title="Office de Tourisme Guyane - Amazonie">Guyane - Amazonie</a></li>
                    <li><a href="http://visitcostarica.com/fr" target="_new" title="Visitez le Costa Rica">Costa Rica</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12" id="legals">
        &copy; ISTHIA 2020 - <a href="https://ta2d.univ-tlse2.fr/mentionlegales.html" target="_new" title="Mentions Légales">Accédez aux mentions légales</a> 
    </div>
</div>