<!-- Maps -->
<div class="col-md-6 col-12" dock data-rel="content" data-target="protectedSpaces">
    <div id="g-layout" class="map leaflet"></div>
    <!-- Switch to infography if no data present-->
    <div class="map infography hidden" id="espace-protege-guyane">
        <figure>
            <img src="./assets/images/carte_espaces_proteges_guyane.png" alt="Cartes des Espaces protégés de la Guyane" class="img-fluid">
            <figcaption>
                La Guyane est un territoire de 83 534 km<span>2</span> avec 730 km de frontière commune avec le Brésil et 510 avec le Surinam.<br>
                92% du territoire est recouvert d'une forêt tropicale dense. Pour gérer l'espace, il y a 2670 militaires en permanence sur le territoire,<br>
                ce qui fait une moyenne de 31 km pour un militaire.
            </figcaption>
        </figure>
    </div>
</div>
<div class="col-md-6 col-12" dock data-rel="content" data-target="protectedSpaces">
    <div id="c-layout" class="map leaflet"></div>
    <!-- Switch to infography if no data present -->
    <div class="map infography hidden" id="espace-protege-costa-rica">
        <figure>
            <img src="./assets/images/carte_espaces_proteges_costa-rica.png" alt="Cartes des Espaces protégés du Costa Rica" class="img-fluid">
            <figcaption>
                Le Costa Rica est un territoire de 51 100 km<span>2</span> avec 309 km de frontière commune avec le Nicaragua et 339 avec le Panama.<br>
                Avec une moyenne de 9 987 agents (rangers, le pays n'a plus d'armée depuis 1948) ce qui fait un agent pour 5,11 km.
            </figcaption>
        </figure>
    </div>
</div>
