<div class="col-12">
    <table class="table table-condensed table-responsive bilan" id="bilan">
        <tr>
            <th>
                Bilan
            </th>
            <td>
                <table>
                    <tr>
                        <td>
                            La Guyane est un département français et de ce fait dispose d’un climat politique particulièrement stable.
                            Pourtant le taux de criminalité y est particulièrement important.
                            Cela est dû au climat des pays frontalier, une immigration massive et difficilement contrôlable en raison des km de frontières à surveiller. 
                            Si le territoire ne dispose pas de risque naturel important, ils restent présents.
                            Les vaccins contre la fièvre jaune sont obligatoires et le taux de séropositivité est particulièrement important surtout dans les villages reculés.
                        </td>
                        <td>
                            Les risques naturels sont importants, 5 volcans sont toujours actifs au Costa Rica. 
                            Toutefois l’indice de criminalité est beaucoup moins important qu’en Guyane.
                            Cela est expliqué par un taux d’immigration beaucoup moins important. 
                            Le territoire est plus petit ce qui limite les risques sanitaires et la précarité des habitants du pays. 
                            Au Costa Rica, il n’y a pas de vaccin obligatoire. 
                        </td>
                </table>
            </td>
        </tr>
    </table>
</div>