<div class="col-12">
    <table class="table table-condensed table-responsive bilan" id="bilan">
        <tr>
            <th>
                Bilan
            </th>
            <td>
                <table>
                    <tr>
                        <td>
                            La Guyane est un territoire encore peu colonisé, ce qui est un avantage certain pour le développement du tourisme de nature.
                            Toutefois, le territoire dispose d’un taux de chômage particulièrement important. 
                            Les aides sociales de la France permettre à la population de vivre mieux qu’au Costa Rica 
                        </td>
                        <td>
                            Le pays est très intensément peuplé. Ce qui peut avoir des conséquences importantes sur la préservation de la biodiversité. 
                            Le climat social est meilleur qu’en Guyane. Le taux de chômage est plus faible, probablement dû au développement du tourisme. 
                        </td>
                </table>
            </td>
        </tr>
    </table>
</div>

<!-- Infography -->
<div class="col-12">
    <figure class="bilan--infography">
        <img class="img-fluid" src="./assets/images/bilan_social.jpg" alt="Bilan Economique et Social">
    </figure>
</div>