<section id="charts" class="col-12" dock data-rel="content" data-target="charts">
    <div class="row">
        <div class="col-12 col-md-3">
            <p>3,54 habitant par km<span>2</span> pour une superficie de 83 846 km<span>2</span></p>
        </div>
        <div class="col-12 col-md-6">
            <div class="stylechart">
                <h3>Evolution de la population et densité</h3>
                <canvas id="population-evolution-density"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <p>97,91 habitants par km<span>2</span> pour une superficie de 51 100 km<span>2</span></p>
        </div>
    </div>
    <!-- PIB evolution -->
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="stylechart">
                <h3>Valeur du PIB de la Guyane (en $)</h3>
                <canvas id="pib-guyane"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="stylechart">
                <h3>Evolution du PIB Costa Rica</h3>
                <canvas id="pib-costa-rica"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-12">
            <p>
                Cette statistique montre le produit intérieur brut (PIB) de la Guyane à prix courants par habitant de 2014 à 2019.
                On observe que le PIB par habitant en Guyane a augmenté, s'élevant à plus de 4.600 dollars des États-Unis en 2017, 
                contre environ 4.000 dollars des États-Unis en 2014.
                De plus, le PIB par habitant de la Guyane est prévu de continuer à augmenter pour atteindre une valeur de près de 19.400 dollars des États-Unis en 2024.
            </p>
        </div>
        <div class="col-md-6 col-12">
            <p>
                Cette statistique montre le taux d'évolution du produit intérieur brut réel du Costa Rica par rapport à l'année précédente entre 2014 et 2019.
                En 2017, le PIB du Costa Rica avait fortement augmenté d'environ 3,4 % par rapport à 2016. 
                De plus, selon les estimations du Fond monétaire international, le PIB du Costa Rica devrait augmenter d'environ 3,5 % entre 2023 et 2024.
            </p>
        </div>
    </div>
</section>