<div class="col-12" id="security--criminality">
    <div class="row" id="criminality-details-g">
        <article class="col-md-6 col-12">
            <header>
                <h2>Criminalité en Guyane</h2>
            </header>
            <p class="content">
                Il se commet des crimes mineurs comme des vols à la tire et des vols de sac à l’arraché, en particulier dans les zones urbaines.
                Les vols de motocyclettes sont fréquents.
                Expéditions dans la jungle : La jungle est considérée comme une zone à risque élevé en raison des activités des chercheurs d’or et du risque d’être la cible de groupes de malfaiteurs.
                Dans les dernières années, des touristes étrangers ont été enlevés contre rançon.
            </p>
            <figure>
                <div class="stylechart">
                    <h3>Evolution des chantiers d'orpaillage</h3>
                    <canvas id="g-orpaillage"></canvas>
                </div>
            </figure>
        </article>

        <div class="col-12 col-md-6">
            <div class="map">
                <map id="criminality-g"></map>
            </div>
            <!-- Details of criminality indice -->
            <figure>
                <img class="img-fluid" src="./assets/images/legende_securite.png" alt="Indice de sécurité des territoires">
            </figure>
        </div>
    </div>

    <div class="row" id="criminality-details-gcr">
        <div class="col-12 col-md-6">
            <div class="map">
                <map id="criminality-cr"></map>
            </div>
        </div>

        <article class="col-md-6 col-12">
            <header>
                <h2>Criminalité au Costa Rica</h2>
            </header>
            <p class="content">
                Le Costa Rica connaît depuis plusieurs années une augmentation sensible du taux d’homicide et du niveau de violence sur l’ensemble de son territoire, 
                souvent liée au trafic de stupéfiants et ses corollaires.
            </p>
            <figure>
                <div class="stylechart">
                    <h3>Evolution des homicides entre 1990 et 2010</h3>
                    <canvas id="cr-criminality-evolution"></canvas>
                </div>
            </figure>
        </article>


    </div>
</div>

<!-- Other risks -->
<div class="col-12" id="other--risks">
    <div class="row" id="g--risks">
        <article class="col-md-6 col-12">
            <header>
                <h2>Risques naturels en Guyane</h2>
            </header>
            <p>
                La saison des pluies s’étend de janvier à juin, et les inondations saisonnières peuvent nuire aux déplacements par voie terrestre et à la prestation des services essentiels. 
                Les routes peuvent devenir impraticables et les ponts, subir des dommages.
            </p>
        </article>

        <figure class="col-12 col-md-6">
            <img src="./assets/images/guyana-river.png" alt="Risques d'inondations en Guyane" class="img-fluid">
        </figure>
    </div>

    <div class="row" id="cr--risks">
        <div class="col-12 col-md-6">
            <div class="map">
                <map id="volcans-cr"></map>
            </div>
        </div>

        <article class="col-md-6 col-12">
            <header>
                <h2>Risques naturels au Costa Rica</h2>
            </header>
            <p>
                <span class="underline">Inondations et glissements de terrain</span> :<br> 
                Pendant la saison des pluies, de mai à fin novembre, les orages sont fréquents, subits et parfois violents. 
                Les risques d’inondation et de glissements de terrain sont alors importants et les axes routiers peuvent être coupés.
                Les crues des rivières peuvent être spectaculaires et l’évacuation de la population peut être ordonnée par les autorités locales.
                <span class="underline">Risque volcanique</span> :<br>
                Les volcans du pays font l’objet d’une surveillance étroite et constante de la part des autorités locales.
                <span class="underline">Risque sismique</span> :<br>
                Le Costa Rica est situé dans une région de forte activité sismique où les tremblements de terre, jusqu’ici d’amplitude limitée, sont courants. Les péninsules de Nicoya au nord, et d’Osa au sud, sont particulièrement exposées à ce risque.
            </p>
        </article>
    </div>
</div>

<!-- Riques routiers -->
<div class="col-12" id="road--risks">
    <div class="row" id="g--road--risks">
        <article class="col-md-6 col-12">
            <header>
                <h2>Risques routiers en Guyane</h2>
            </header>
            <p>
                Les routes principales sont asphaltées et bien entretenues.
                Il peut être dangereux de conduire après la tombée de la nuit, surtout dans les régions intérieures éloignées et sur les routes rurales moins bien aménagées.
                On trouve des postes téléphoniques d’urgence le long des principales routes, mais la plupart sont hors d’usage en raison d’actes de vandalisme.
                Gardez un téléphone cellulaire avec vous et vérifiez les zones de service.

            </p>
        </article>
        <div class="col-12 col-md-6">
            <div class="map">
                <map id="road-g"></map>
            </div>
        </div>
    </div>

    <div class="row" id="cr--road--risks">
        <div class="col-12 col-md-6">
            <div class="map">
                <map id="road-cr"></map>
            </div>
        </div>

        <article class="col-md-6 col-12">
            <header>
                <h2>Risques routiers au Costa Rica</h2>
            </header>
            <p>
                Le Costa Rica a un taux d’accidents de la route très élevé. 
                Il est conseillé de conduire avec prudence en raison de l’état des routes, de l’absence de signalisation, 
                de la configuration sinueuse des routes marquées par de fréquents rétrécissements du fait du relief, 
                des ponts à une voie sur des routes à deux voies, de l’irrespect du code de la route
                et du comportement imprévisible de nombreux conducteurs.
            </p>
        </article>
    </div>
</div>