<div class="col-12" id="security--criminality">
    <div class="row" id="criminality-details-g">
        <article class="col-md-6 col-12">
            <header>
                <h2>Criminalité en Guyane</h2>
            </header>
            <p class="content">
                Il se commet des crimes mineurs comme des vols à la tire et des vols de sac à l’arraché, en particulier dans les zones urbaines.
                Les vols de motocyclettes sont fréquents.
                Expéditions dans la jungle : La jungle est considérée comme une zone à risque élevé en raison des activités des chercheurs d’or et du risque d’être la cible de groupes de malfaiteurs.
                Dans les dernières années, des touristes étrangers ont été enlevés contre rançon.
            </p>
        </article>

        <div class="col-12 col-md-6">
            <div class="map">
                <map id="criminality-g"></map>
            </div>
        </div>
    </div>

    <div class="row" id="criminality-details-gcr">
        <div class="col-12 col-md-6">
            <div class="map">
                <map id="criminality-cr"></map>
            </div>
        </div>

        <article class="col-md-6 col-12">
            <header>
                <h2>Criminalité au Costa Rica</h2>
            </header>
            <p class="content">
                Le Costa Rica connaît depuis plusieurs années une augmentation sensible du taux d’homicide et du niveau de violence sur l’ensemble de son territoire, 
                souvent liée au trafic de stupéfiants et ses corollaires.
            </p>
            <figure>
                <div class="stylechart">
                    <h3>Evolution des homicides entre 1990 et 2010</h3>
                    <canvas id="cr-criminality-evolution"></canvas>
                </div>
            </figure>
        </article>


    </div>
</div>