<div class="col-12" id="bilan-intro">
    <figure style="text-align:center">
        <img src="./assets/images/swot-analysis.jpg" alt="Swot Analysis" class="img-fluid">
    </figure>
</div>

<div class="col-12" id="parts--bilan">
    <div class="row">
        <!-- Environment -->
        <div class="card col-md-3 col-12">
            <img src="./assets/images/turtle.jpg" class="card-img-top" alt="Tortue">
            <div class="card-body">
                <h2 class="card-title">Environnement</h2>
                <p class="card-text">
                    Une réglementation de la chasse semble indispensable afin de maintenir les activités des populations locales sans compromettre le développement de l’écotourisme. 
                    Des moyens humains doivent être mis en place afin de faire respecter la réglementation sur un territoire aussi vaste est souvent difficile d’accès,
                    au même titre Que la rainette aux yeux Rouge au Rica Costa Rica définir une espèce emblématique permettrait indirectement de protéger les autres espèces tout en offrant une identité territoriale. 
                </p>

                <a href="#environnement" class="btn btn-outline-success">Environnement</a>
            </div>
        </div>

        <!-- Enconomique et social -->
        <div class="card col-md-3 col-12">
            <img src="./assets/images/cayenne_squat.jpg" class="card-img-top" alt="Squat de Cayenne">
            <div class="card-body">
                <h2 class="card-title">Economique et Social</h2>
                <p class="card-text">
                    La Guyane dispose d’un climat social plus Attendues que le Costa Rica la configuration du territoire laisse peu d’opportunités de développement économique.
                    Le tourisme peut alors apparaître comme une solution à long terme pour les jeunes Guyanais en créant des opportunités d’emploi tout en protégeant la biodiversité, 
                    comme cela se fait aujourd’hui au Costa Rica.
                </p>

                <a href="#social" class="btn btn-outline-success">Economique et social</a>
            </div>
        </div>
        <!-- Sécurité -->
        <div class="card col-md-3 col-12">
            <img src="./assets/images/orpailleurs_traque.jpg" class="card-img-top" alt="Traque aux orpailleurs">
            <div class="card-body">
                <h2 class="card-title">Sécurité</h2>
                <p class="card-text">
                    Déployer des moyens humains important afin de limiter l’immigration massive est indispensable 
                    afin de rétablir un climat plus sécuritaire sur le territoire de la Guyane qui est aujourd’hui vu comme une grande majorité de la population métropolitaine comme un no man’s land.
                    Il est important de souligner qu’avant que le Costa Rica prenne des mesures, les orpailleurs régner en maître.
                    Les décisions gouvernementales dont la mise en place des espaces protégés ont permis de stopper ce pillage.
                </p>

                <a href="#security" class="btn btn-outline-success">Sécurité</a>
            </div>
        </div>

        <!-- Tourisme -->
        <div class="card col-md-3 col-12">
            <img src="./assets/images/guyane.jpg" class="card-img-top" alt="La Guyane">
            <div class="card-body">
                <h2 class="card-title">Tourisme</h2>
                <p class="card-text">
                    La Guyane manque d’une diversité de ses activités touristiques, mais également de structure d’accueil
                    de qualité pour les budgets diverses.
                    Les difficultés de déplacement expliquent le manque d’intérêt pour l’intérieur des terres.
                    Le prix des transports intérieur reste particulièrement élevé.
                    Les déplacements sont donc coûteux et long.
                    Il est impératif de palier à cette problématique afin de développer un tourisme de nature plus diversifier sur le territoire. 
                </p>

                <a href="#tourism" class="btn btn-outline-success">Tourisme</a>
            </div>
        </div>
    </div>
</div>
