<p class="timeliner--intro">
    Notre outil vise à comparer le territoire de la Guyane et celui du Costa Rica afin d'évaluer à l'aide d'un scoring
    les angles d'amélioration. Pour cela 4 grandes thématiques ont été identifiées :
</p>

<div class="timeline">
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-file-picture"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Born</h3>
  </div>
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-cart"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Graduated High School</h3>
  </div>
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-unlocked"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Started at Fox Valley Technical College (FVTC) in an Electrical Engineering program</h3>
  </div>
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-compass"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Changed at FVTC to Web Design & Development program</h3>
  </div> 
</div>