<p class="timeliner--intro">
    Notre outil vise à comparer le territoire de la Guyane et celui du Costa Rica afin d'évaluer à l'aide d'un scoring
    les angles d'amélioration. Pour cela 4 grandes thématiques ont été identifiées :
</p>

<div class="timeline">
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-file-picture"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Environnement</h3>
    <article class="timeline__blurb">
        L'environnement est aujourd'hui une des composantes essentielles au développement de l'écotourisme...
        Son développement doit permettre de prendre en compte les besoins de l'écosystème tout en permettant au
        visiteur d'observer la faune sauvage. C'est donc un compromis qui doit être mis en place entre l'accueil
        des visiteurs et la protection du patrimoine naturel tropical fragile.
    </article>
  </div>
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-cart"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Economique et Social</h3>
   <article class="timeline__blurb">
        La situation économique d'un pays est déterminante pour attirer des visiteurs.
        Elle est, de plus, une composante essentielle pour développer le tourisme comme facteur de développement
        durable des territoires.
    </article>
  </div>
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-unlocked"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Sécurité</h3>
       <article class="timeline__blurb">
        La sécurité est indispensable pour développer le tourisme dans un territoire.
    </article>
  </div>
  
  <h2 class="timeline__item timeline__item--year">
    <span class="icon-compass"></span>
  </h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">Tourisme</h3>
   <article class="timeline__blurb">
        L'activité touristique est une opportunité économique non négligeable pour les territoires.
    </article>
  </div> 
</div>