<section id="charts" class="col-12" dock data-rel="content" data-target="charts">
    <div class="row">
        <div class="col-12 col-md-3">
            <p>30% du territoire en Zone Protégée en Guyane ce qui représente <strong>25 060 km<span>2</span></strong></p>
        </div>
        <div class="col-12 col-md-6">
            <div class="stylechart">
                <h3>Evolution des entrées sur le territoire</h3>
                <canvas id="tourism--entrance"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <p>30% du territoire en Zone Protégée au Costa Rica ce qui représente <strong>15 330 km<span>2</span></strong></p>
        </div>
    </div>
</section>