<!-- Maps -->
<div class="col-md-6 col-12" dock data-rel="content" data-target="protectedSpaces">
    <!-- Switch to infography if no data present-->
    <div class="map infography" id="espace-protege-guyane">
        <figure>
            <img src="./assets/images/carte_espaces_proteges_guyane.png" alt="Cartes des Espaces protégés de la Guyane" class="img-fluid">
            <figcaption>
                La Guyane se caractérise par deux grands milieux principaux : une bande côtière constituée de mangroves, de marécages, de savanes et de forêt littorales d’une part, 
                et une vaste zone forestière sur tout le reste du territoire d’autre part. 

                Cette immense forêt, malgré une apparence d’uniformité, recèle des milieux variés en particulier dans la composante géographique ; 
                la biodiversité se décline en variation dont la connaissance n’est qu’a peine effleurée. 

                Le département dispose d’espaces protéger particulièrement exceptionnels avec, le plus grand parc national de France et de L’Union Européenne, la deuxième plus grande réserve naturelle, la plus grande réserve naturelle périurbaine, des sites classés parmi les plus étendus. Ce seul département français abrite au moins 98 % de la faune vertébrée et 96 % des plantes vasculaires de la France. La France héberge 10 % de la biodiversité mondiale

                <strong>Pour gérer l'espace, il y a 2670 militaires en permanence sur le territoire,<br>
                ce qui fait une moyenne de 31 km pour un militaire.</strong>
            </figcaption>
        </figure>
    </div>
</div>
<div class="col-md-6 col-12" dock data-rel="content" data-target="protectedSpaces">
    <!-- Switch to infography if no data present -->
    <div class="map infography" id="espace-protege-costa-rica">
        <figure>
            <img src="./assets/images/carte_espaces_proteges_costa-rica.png" alt="Cartes des Espaces protégés du Costa Rica" class="img-fluid">
            <figcaption>
                Le Costa Rica (littéralement « Côte riche »), la majeure partie de son territoire est situé sur l'isthme centraméricain, encadré par la mer des Caraïbes à l'est-nord-est et l'océan Pacifique au sud-ouest, bordé au nord-nord-ouest par le Nicaragua et au sud-est par le Panama. Il comprend également l'île Cocos, située dans l'océan Pacifique, à plus de 500 kilomètres des côtes du pays. Il a pour capitale San José qui comptait environ 334 000 habitants en 2015. La langue officielle est l'espagnol et la monnaie le colón. 
                Le Costa Rica possède une flore et une faune exceptionnelles, puisque 6 % de la biodiversité mondiale s'y trouve (pour un pays qui ne représente que 0,03 % des surfaces émergées). 1,3 % de la faune est endémique du pays. En 2007, l'Institut national de la biodiversité considérait que 160 nouvelles espèces étaient découvertes chaque année au Costa Rica. Plus de 25 % du territoire est occupé par des parcs nationaux (26) et des réserves13. Le contexte politique du pays, ainsi que son succès dans le domaine du tourisme, contribuent à préserver cette biodiversité.

                <strong>Avec une moyenne de 9 987 agents (rangers, le pays n'a plus d'armée depuis 1948) ce qui fait un agent pour 5,11 km.</strong>
            </figcaption>
        </figure>
    </div>
</div>
