<!-- Infographies -->
<div class="col-12">
    <div class="row">
        <div class="col-md-6 col-12">
            <figure>
                <img class="img-fluid" src="./assets/images/bilan-tourisme-guyane.png" alt="Données touristiques pour la Guyane">
            </figure>
        </div>

        <div class="col-md-6 col-12">
            <figure>
                <img class="img-fluid" src="./assets/images/bilan-tourisme-costa-rica.png" alt="Données touristiques pour le Costa Rica">
            </figure>
        </div>        
    </div>
</div>

<div class="col-12">
    <table class="table table-condensed table-responsive bilan" id="bilan">
        <tr>
            <th>
                Bilan
            </th>
            <td>
                <table>
                    <tr>
                        <td>
                            Le tourisme en Guyane est principalement concentré sur la cote, c’est pour une grande majorité du tourisme d’affaire.
                            La difficulté de circulation à l’intérieur du territoire ainsi que le temps de trajet sont des facteurs qui ne favorise pas le développement du tourisme à l’intérieur des terres. 
                            Il y a aujourd’hui un déficit important dans la qualité des hébergements et dans leur dispersion sur le territoire.
                            Une grande majorité du territoire n’est pas accessible par la route. Le budget de déplacement est donc important. 
                        </td>
                        <td>
                            Le Costa-Rica dispose d’une capacité d’accueil important et de qualité.
                            Les temps de trajet restent raisonnables et de nombreuse ligne de bus permettre de facilité les déplacements de façon économique et autonome.
                            La qualité du réseau routier est à revoir mais reste praticable. 
                            La diversité des activités de loisir explique le nombre de touristes particulièrement important. 
                        </td>
                </table>
            </td>
        </tr>
    </table>
</div>