<!-- Maps -->
<div class="col-md-6 col-12" dock data-rel="content" data-target="protectedSpaces">
    <div id="g-layout" class="map leaflet"></div>
    <!-- Switch to infography if no data present-->
    <div class="map infography" id="espace-protege-guyane">
        <article>
            <p>
                Le secteur du tourisme en Guyane pâtit de la mauvaise image récurrente de ce territoire français d'Amérique du Sud, qui possède pourtant des atouts touristiques.
                Avec un territoire recouvert dans sa quasi-totalité par une forêt amazonienne propice à la découverte de la biodiversité, une culture riche de son métissage et un centre spatial de haute technologie, la Guyane aurait pu, à l'instar du Costa-Rica, attirer des cohortes de touristes.
                Mais avec environ 100.000 visiteurs annuels (101.000 en 2015, 93.000 en 2016), essentiellement venus d'Europe, la Guyane est loin des chiffres de certains pays voisins. Son tourisme est surtout d'affaires (48 %), en lien avec l'activité spatiale, et affinitaire (33 %), lié aux nombreux fonctionnaires (gendarmes, professeurs, etc.) qui viennent assurer quelques années de service sur le territoire.
            </p>
        </article>
    </div>
</div>
<div class="col-md-6 col-12" dock data-rel="content" data-target="protectedSpaces">
    <div id="c-layout" class="map leaflet"></div>

    <!-- Switch to infography if no data present -->
    <div class="map infography" id="espace-protege-costa-rica">
        <article>
            <p>
                Le Costa Rica est la deuxième économie d'Amérique Centrale (hors Panama). Il bénéficie d'une image attractive grâce à un cadre macro-économique stable, un bon capital humain, une stabilité politique, une politique de développement durable et une législation favorable aux opérations économiques.
                Le tourisme, secteur clé de l'économie costaricienne, représente 5,4% du PIB du Costa Rica et 40% des exportations de services, générant 150.000 emplois directs et 450.000 indirects pour un pays de 4,8 millions d'habitants. Le pays bénéficie d'une image verte et d'éco-tourisme, grâce à ses nombreux parcs naturels, ses volcans, ses plages et sa biodiversité.
                Selon l'Institut costaricain du Tourisme, les arrivées de touristes sont passées de 262 000 en 1985 à 792 000 en 1995, soit une augmentation de plus de 300 % du nombre de visiteurs en une décennie. En 2001, ce sont près de 1 320 000 de touristes qui se rendaient au Costa Rica
            </p>
        </article>
    </div>
</div>

<!-- Infographies -->
<div class="col-12" id="tourism--travel">
    <figure>
        <img class="img-fluid" src="./assets/images/billet_avion-g_cr.jpg" alt="Comparatif du coût du trajet Guyane - Costa Rica">
    </figure>
</div>
