@import "./variables.scss";

div {
    &.map {
        height: 25em;
        &.hidden {
            display: none;
        }

        figure {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                display: block;
                margin:0 auto;
            }
            figcaption {
                position: absolute;
                width: 100%;
                top: 99%;
                color: $white-color;
                background-color: rgba(lighten($primary-color, 20%), .9);
                padding: 2em;
                transition: all 2s 0s ease-in-out;

                span {
                    position: relative;
                    bottom: 1px;
                    font-size: .5em;
                    line-height: .5em;
                    vertical-align:super;
                    text-decoration:none;                    
                }
            }
            &:hover {
                figcaption {
                    top: 0;
                }
            }
        }
    }
    &#leaflet--toolbar {
        height: 3em;
        text-align: center;
        span {
            &.title {
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }

    &#map-legend {
        margin-top: 5em;

        div {
            &#fiche {
                font-weight: bold;
            }

            &#legende {
                
                div {
                    &.holder {
                        width: 1.875em;
                        height: 0.625em;
                        display: inline-block;

                        &.pop-6000 {
                            background-color: #d3e8d9;
                        }
                        &.pop-40000 {
                            background-color: #93e6a9;
                        }
                        &.pop-80000 {
                            background-color: #48a160;
                        }
                        &.pop-90000 {
                            background-color: #5eeb7c;
                        }
                        &.pop-more {
                            background-color: #3e854e;
                        }
                    }
                }
            }
        }
    }

    &#guyane-population {
        div {
            &.hover-legend {
                color: $white-color;
                background-color: rgba(lighten($primary-color, 20%), .9);
                padding: 2em;
                                
                &.hidden {
                    display: none;
                }
            }
            &.button {
                button {
                    &#guyane-population-details {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    &#security--criminality, &#other--risks, &#road--risks {
        div {
            &.map {
                position: relative;
                height: auto;
                width: 100%;
                min-height: 25em;

                map {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}