@import "./variables.scss";

#home-intro {
    height: 500px;
    width: 100%;
    background-image: url("/assets/images/splash-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    h1 {
        position: relative;
        width: 75%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        color: $secondary-color;
    }
}